*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
}

#root{
    display: flex; justify-content: center;
}

.App{
    width: 800px;
}
/*.granica{
    font-family: Arial;
    border: 1px solid black;
    border-radius: 15px;
    margin: 10px;
    padding: 10px;
}
.a1{
    margin-bottom: 10px;
}
.a{
    margin-bottom: 10px;
}*/

/*.about{
    border: 1px solid blueviolet;
    border-radius: 15px;
    margin: 15px;
    padding: 15px;
    text-align: center;
    text-transform: uppercase;
}*/

.post{
    display: flex; padding: 15px; border: 2px solid black; margin-top: 15px; justify-content: space-between; align-items: center;
}

/*.windowLog{
    border: 1px solid black;
    border-radius: 15px;
    text-align: left;
    margin: 10px;
    padding: 10px;
}
.aa{
    margin-bottom: 7px;
}
.aa1{
    margin-bottom: 5px;
}
.emails{
    margin-bottom: 15px;
}
.passw{
    margin-bottom: 15px;
}*/