.test{
    display: flex;
    justify-content: space-around;
    margin: 10px;
}
.a{
    border: none;
    border-radius: 15px;
    background-color: dodgerblue;
    padding: 20px;
    color: white;
}
